.cuestionary {
    background-color: var(--color-de-fondo);
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    font-family: "K2D", sans-serif;
    height: 100vh;
    color: var(--color-fuentes);
}

.back-img {
    position: relative;
    width: 98%;
    height: 30vh;
    max-height: 20rem;
    margin-left: auto;
    border-radius: 50rem 0 0 50rem;
    display: flex;
    justify-content: center;
  
}



.back-img .guy-img {
    margin-top: auto;
    height: 83%;
}

.desktop-logo {
    display: none;
    width: 15rem;
}

.movil-logo {
    width: 20%;
    margin: auto 0;
    margin-right: 4rem;    
}

.cuestionary-items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cuestionary-items .content {
    max-width: 50rem;
    font-size: 1.9rem;
    line-height: 2.47rem;
    font-weight: 300;
    margin: 0 2rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.gradient-background-page {
    background: transparent;
}

.gradient-background-banner {
    background: var(--gradiente);
}

.cuestionary .step {
    position: absolute;
    top: .5rem;
    right: 6rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.step-conteiner {
    display: flex;
}

.buttons-conteiner {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.cuestionary .total-step {
    font-size: 1rem;
}

.progress-bar {
    position: absolute;
    width: 100%;
    height: 5px;
    z-index: 5;
}

.progress-bar .progress {
    background-color: var(--color-fuentes);
    height: 100%;
    transition: all 400ms ease;
}


/* =========================================================================================================== */
/* ================================Media Query================================================================ */
/* =========================================================================================================== */
/* =========================================================================================================== */

@media (min-width: 1366px) {

    .desktop-logo {
        display: inline;
    }

    .cuestionary {
        /* background-color: #F4F4F4; */
        display: flex;
        flex-direction: row;
        position: relative;
        font-family: "K2D", sans-serif;
    }

    .movil-logo {
        display: none;        
    }


    .back-img {
        position: relative;
        width: 50%;
        border-radius: 25% 0 0 25%;
        display: flex;
        justify-content: center;
        height: 100vh;
        max-height: none;
    }

    .back-img .guy-img {
        margin-top: auto;
        height: 90%;
    }

    .cuestionary-items {
        width: 50%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cuestionary-items .content {
        font-size: 1.9rem;
        line-height: 2.47rem;
        font-weight: 300;
    }

    .gradient-background-banner {
        background: transparent;
    }
    
    .gradient-background-page {
        background: var(--gradiente);
    }

    .gradient-background-banner-big {
        background: var(--gradiente);
    }

    .cuestionary .step {
        position: absolute;
        top: 10%;
        right: 6%;
        font-size: 2.5rem;
        color: #231331;
    }

    .step-conteiner {
        display: flex;
    }

    .back-button-container {        
        width: 5.5rem;
    }

    .cuestionary .total-step {
        font-size: 1.8rem;
    }

    .imput-name {
        border: none;
        background-color: transparent;
        border-bottom: 1px #231331 solid;
        padding: .8rem 0;
        width: 80%;
        margin-top: 3rem;
        font-size: 1.4rem;
    }

    .imput-name:focus {
        outline: none;
    }

    .progress-bar {
        position: absolute;
        width: 100%;
        height: 8px;
        z-index: 5;
    }

    .progress-bar .progress {
        background-color: var(--color-fuentes);
        height: 100%;
        transition: all 400ms ease;
    }

    .logo-and-buttons {
        margin-left: 5.5rem;
        min-height: 35rem;
    }
}